/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Venite Adoremus';
  src: url('assets/fonts/venite-adoremus/VeniteAdoremus-rgRBA.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #0D0226;
  --secondary-color: #230A59;
  --background-color: #0D0226;
  --text-color-primary: whitesmoke;
  --text-color-secondary: #F238C1;  
}

body {
  font-family: 'Venite Adoremus', sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

