.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-carousel {
  width: 90%;
  height: 70vh;
  border-radius: 5px;
}

.custom-carousel .carousel-inner,
.custom-carousel .carousel-item {
  height: 100%;
  border-radius: 5px;

}

.carousel-item-details {
  position: absolute;
  top: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  transform: translateY(-50%);

  .get-btn {
    background-color: var(--text-color-secondary);
    color: var(--secondary-color);
  }

  .carousel-item-description p {
    color: var(--text-color-primary);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: start;
    margin-left: 20px;
  }

  .carousel-item-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 20px;
    .add-wishlist-btn {
      background-color: var(--secondary-color-withOP);
      color: var(--text-color-secondary);
      margin-left: 20px;
    }
  }
}

.custom-carousel img {
  height: 100%;
  object-fit: fill;
}
