<div class="filter-container">
  <h5>filter games</h5>

  <div class="search-container">
    <input type="text" [(ngModel)]="filter.keyword" class="form-control"  placeholder="Search">
  </div>

  <div class="search-category-container">
    <select class="form-select" required [(ngModel)]="filter.genreName">
      <option [ngValue]="null" [disabled]="true">-- Select Genres --</option>
      <option *ngFor="let Category of Categories" [value]="Category.name">{{Category.name}}</option>
    </select>
  </div>

  <div class="search-price-container d-flex">
    <input type="number" [(ngModel)]="filter.minPrice" class="search-min-price form-control me-3"  placeholder="min">
    <input type="number" [(ngModel)]="filter.maxPrice" class="search-max-price form-control "  placeholder="max">
  </div>

  <div class="search-developer-container">
     <input type="text" [(ngModel)]="filter.developer" class="search-developer form-control"  placeholder="Search dev">
  </div>

  <div class="search-sortby-container">
    <select class="form-select" [(ngModel)]="filter.sortBy" name="SortBy" id="SortBy">
      <option value="SortBy">-- Sort By --</option>
      <option value="title">title</option>
      <option value="price">price</option>
      <option value="releaseDate">releaseDate</option>
    </select>
  </div>

  <div class="search-ascending-container">
    <select class="form-select" [(ngModel)]="filter.ascending" >
      <option [value]="true" selected>ascending</option>
      <option [value]="false">descending</option>
    </select>
  </div>

  <div class="filter-buttons">
    <button class="btn btn-primary me-3" (click)="onFilterDtoChange(filter)">Apply</button>
    <button class="btn btn-secondary" (click)="reset()">Reset</button>
  </div>
</div>
