<mat-toolbar color="primary" class="navbar">
  <mat-icon svgIcon="custom-icon"></mat-icon>
  <img
    src="http://localhost:4200/assets/VGameStore2.png"
    alt="VGameStore Logo"
    class="vgamestore-logo"
  />
  <div class="input-group flex-nowrap">
    <input
      type="search"
      class="form-control search"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="addon-wrapping"
      [(ngModel)]="searchText"
      (keyup.enter)="goToSearch()"
    />
    <span
      class="material-icons input-group-text"
      [routerLink]="['/search', searchText]"
      id="addon-wrapping"
      >search</span
    >
  </div>
  <button
    mat-button
    [routerLink]="['/']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </button>
  <button mat-button [routerLink]="['/games']" routerLinkActive="active-link">
    Games
  </button>
  <button mat-button [routerLink]="['/cart']" routerLinkActive="active-link">
    Cart
  </button>
  <button mat-button [routerLink]="['/wishlist']" routerLinkActive="active-link">
    Wishlist
  </button>
</mat-toolbar>
