.navbar {
  background-color: var(--background-color);
  margin: auto;
  width: 90%;
  padding: 0;
}

.navbar span {
  color: var(--text-color-primary);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar .v {
  color: var(--text-color-secondary);
  cursor: pointer;
}

.navbar button {
  color: var(--text-color-primary);
   text-decoration: none;
}

.navbar button:hover {
  color: var(--text-color-secondary);
}

.active-link {
  font-weight: bold;
  color: yellow !important;
  /* or any color that looks good with your theme */
  border-bottom: 2px solid yellow;
  border-radius: 5px ;
 }

.navbar mat-icon {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.input-group {
  border: none;
  width: 20%;
  height: 50%;
  margin: 0 20px;

  input {
    border-radius: 25px;
    border: none;
    width: 100%;
    background-color: var(--secondary-color);
    font-style: italic;
    color: var(--text-color-primary);


  }
  input::placeholder {
    color: var(--text-color-secondary) !important;
  }
  input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--text-color-secondary);
  }
  span {
    border-radius: 2px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    padding: 3px 10px;
    background-color:  var(--secondary-color);
    color:  var(--text-color-secondary);
  }
}
