.navbar {
  background-color: var(--background-color);;
  margin: 0;
 }

 .navbar span {
  color: var(--text-color-primary);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.navbar .v{
  color: var(--text-color-secondary);
  cursor: pointer;
}
.navbar button {
  color: var(--text-color-primary);
  margin-right: 1rem;
  text-decoration: none;
}
.navbar button:hover {
  color: var(--text-color-secondary);
 }
 .active-link {
  font-weight: bold;
  color: yellow !important; /* or any color that looks good with your theme */
  border-bottom: 2px solid white;
}
.navbar mat-icon {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
