<mat-toolbar color="primary" class="navbar">
  <mat-icon svgIcon="custom-icon"></mat-icon>
  <span style="flex: 1 1 1" class="v">V</span>
  <span style="flex: 1 1 auto">GameStore</span>
  <button
    mat-button
    [routerLink]="['/']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </button>
  <button mat-button [routerLink]="['/games']" routerLinkActive="active-link">
    Games
  </button>

  <button mat-button routerLink="/account" routerLinkActive="active-link">
    Account
  </button>
</mat-toolbar>
