<div class="game-list">


  <div *ngIf="loading$ | async" class="loading">
    Loading Games List...
  </div>

  <div *ngIf="!(loading$ | async)">
    <div id="search-bar">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button id="search-btn" class="btn btn-outline" type="submit">Search</button>
      </form>
    </div>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="assets/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/3.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h2>Games List</h2>
    <div *ngFor="let game of games$ | async" class="game-card"  [routerLink]="['/games', game.id]">
      <app-game-card [game]="game"></app-game-card>
      <!-- <img [src]="getFormattedPrice(game.imageUrl)" [alt]="game.title" />
      <h3>{{ game.title }}</h3>
      <p>{{ game.description }}</p>
      <span>💰 {{ game.price | currency }}</span> -->
    </div>
  </div>
</div>
