/* ====== Animated Bar ====== */
.bar-container {
  background-color: var(--secondary-color);
  width: 100%;
}

.game-bar {
  background-color: var(--secondary-color);
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.text span {
  font-family: 'Venite Adoremus', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 22px;
  margin-right: 2px;
  display: inline-block;
  transform: translateX(-50px);
  opacity: 0;
  animation: slideIn 0.4s forwards;
}

.arrows .arrow {
  width: 40px;
  margin-left: 5px;
  transform: translateX(-50px);
  opacity: 0;
  animation: slideIn 0.4s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ====== Game List Section ====== */
.game-list {
  text-align: center;

  .loading {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color-secondary);
  }
}

.game-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* ====== Intro Screen Animation ====== */
.intro-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
  position: relative;
}

.v-icon {
  position: absolute;
  width: 25%;
  height: 25%;
  object-fit: contain;
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 0.5s ease;
}

.v-icon.show {
  opacity: 1;
  transform: rotate(360deg);
}

.v-icon.hide {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.vgamestore-logo {
  position: absolute;
  width: 25%;
  height: 25%;
  object-fit: contain;
  opacity: 0;
  animation: scalePulse 2s infinite ease-in-out;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(10px);
}

.vgamestore-logo.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes scalePulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
