/* animated bar */
.bar-container{
  background-color: var(--secondary-color);
  width: 100%;
}
.game-bar {
  background-color: var(--secondary-color);/* Dark purple background */
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.text span {
  font-weight: bold;
  color: white;
  margin-right: 2px;
  font-size: 22px;
  display: inline-block;
  transform: translateX(-50px);
  opacity: 0;
  animation: slideIn 0.4s forwards;
}

.arrows .arrow {
  width: 40px;
  margin-left: 5px;
  transform: translateX(-50px);
  opacity: 0;
  animation: slideIn 0.4s forwards;
}

/* Slide-in animation */
@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

 /* game list */
.game-list {
  text-align: center;

  .loading {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color-secondary);
  }
}





.intro-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.logo-container {
  position: relative;
  width: 200px; /* Smaller size */
  height: 60px;  /* Adjust height for your logos */
}

.v-icon,
.vgamestore-logo {
  position: absolute;
  width: 50%;
  height: 50%;
  object-fit: contain;
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 0.5s ease;
}

.v-icon.show {
  opacity: 1;
  transform: rotate(360deg);
}

.v-icon.hide {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.vgamestore-logo {
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
}

.vgamestore-logo.show {
  opacity: 1;
  transform: translateY(0);
}
