<div class="bar-container">
  <div class="game-bar">
    <div class="text">
      <span
        *ngFor="let letter of textArray; let i = index"
        [style.animationDelay.ms]="i * 100"
        >{{ letter }}</span
      >
    </div>
    <div class="arrows">
      <img
        *ngFor="let arrow of arrows; let i = index"
        src="assets/right-arrow.png"
        alt="Arrow"
        class="arrow"
        [style.animationDelay.ms]="(textArray.length + i) * 100"
      />
    </div>
    <div class="bar-actions">
      <button class="remove-btn" (click)="removeWishlist()"><mat-icon>delete</mat-icon> <span>Remove All</span></button>
    </div>
  </div>
</div>

<div *ngIf="WishlistItems$ | async as wishlist">
  <div *ngIf="wishlist.length > 0; else emptyWishlist">
    <div *ngFor="let item of wishlist">
      <app-wishlist-item-card [wishlistItem]="item"></app-wishlist-item-card>
    </div>
  </div>
  <ng-template #emptyWishlist>
    <p>Your wishlist is empty.</p>
  </ng-template>
</div>
